.row{
    margin-left: 20px;
    color: #ffff;

}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height:250px;
    margin-right:10px;
    cursor: pointer;

}
.smallPoster{
    margin-right:10px;
    max-height: 150px;
    cursor: pointer;
    max-width: 100%;
}

.poster:hover{
    transform: scale(1.8);
}